# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db